<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.wings.gabriel.tapestry">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BIND_WALLPAPER" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/icon_clap"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FullScreen"
            android:label="@string/title_activity_full_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Setting"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LIve_wall"
            android:label="@string/title_activity_live_wall"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gif_Image_activity"
            android:label="@string/title_activity_gif__image_activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".gif_wall_service.GIFWallpaperService"
            android:enabled="true"
            android:label="GIF Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>

        <activity
            android:name=".GifActivity"
            android:label="@string/title_activity_gif"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>